---
layout: page
---
<div class="post">
  <article>
    <hr>
    page.intro
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="row justify-content-sm-center">
          <div class="col-sm-8 mt-3 mt-md-0">profile.content</div>
          <div class="col-sm-4 mt-3 mt-md-0">
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% include figure.liquid path=profile_image_path class="img-fluid rounded z-depth-1" %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
